.message-input {
  // background-color: #e1e5ed;
  // border-top: 1px solid #e2e8f0;
  // border-radius: md;
  bottom: 0;
  width: 75%;
  padding-bottom: 2vh;
  z-index: 10;
}

.send-icon {
  width: 35px;
  height: 25px;
}
