@import "../../styling/Variables";

.login-container {
    display: flex;
    align-items: center;
    background: radial-gradient(rgba(210, 241, 223,0.4), rgba(211, 215, 250,0.4), rgba(186, 216, 244,0.4)) 0% 0% / 200% 200%;  
}
.submit-buttom {
    background-color: $purple;
}